.inputlocation i{
position: absolute;

}
.inputlocation{
    position: relative;
    left: 0;
    top: 8px;
    padding: 9px,8px;
}

.state-container-dropdown{
    position: absolute;
    z-index: 1;
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    
    max-height: 300px;
    background: white;
    overflow-y: auto;

}
.state{
    padding: 5px;
    font-family: sans-serif;
    color: purple;
}
.state:hover{
    color: aqua;
}
.fa-star{
    color: #ffb000;

}
.fa-star-half-o{
    color:  #ffb000;
}
.fa-star-o{
 color: #ffb000;
}
h2{
    font-family: sans-serif;
    color: gray;
    margin-left: 20%;
    margin-top: 0%;
}
.jumbotron{
    margin-top: 60px;
    height: 290px;

}
.red-text{
    text-decoration: underline; 
    margin-left: 100px;
   
}
.card {
    width: 350px;
    border-radius: 10px; 
    margin-left: 40px;
    margin-bottom: 5px;
    display:inline-block; 
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-fluid{
    width: 480px;
    height:250px;  
    margin-left: 20px;
    border-radius: 5px;
   
}
btn green{
    margin-left: 0%;
}
.form1{
    margin-left: 6%;
    font-family: cursive;
    font-size: 20px;
}