.card{

    width: 100%;
    height: 250px;
    background-color:rgb(255, 230, 230);
   

}
view overlay .img{
    height: 200px;
    border-radius: 50%;
    border-style: thin;
    border-width: 5px;
}
.col-md-7{
    background-color: rgb(206, 162, 222);
    opacity: 0.7;
    box-shadow:  10px 10px grey;
    text-align: center;
    

}

h1{
    font-size: 100%;
    font-weight: bold;
}
hr{
    background-color: black;
}
.fa-star{
    color: rgb(255, 255, 77);
    font-size: 20px;
    border-style: thin;
    border-width: 2px;
  

}
.fa-star-half-o{
    color:  rgb(255, 255, 77);
    font-size: 20px;
}
.fa-star-o{
 color:  rgb(255, 255, 77);
 font-size: 20px;
}

img img-fluid:hover{
    opacity: 0.6;

}

.fce4ec pink lighten-5-color{
    text-align: center;
}
