<!--Card-->
<div class="card">

  <!--Card image-->
  <div class="view">
      <img src="./assets/images/main.jpg" style="position:fixed;opacity: 0.5;" class="img-fluid" style="width: 1900px;height: 970px;" alt="">
      <div class="centered" style="font-size: 40px;"><h3>Looking to hire faster and more affordably?</h3><br><a class="btn btn-outline-white wow fadeInLeft"  data-wow-delay="0.3s" ><i class="fa fa-angle-double-right mr-1"></i> Hairstylists</a>&nbsp;<a class="btn btn-outline-white btn-rounded" ><i class="fa fa-angle-double-right mr-1"></i> Salons</a></div>
      
      <a href="#">
          <div class="mask rgba-white-slight"></div>
      </a>
  </div>

  <!--Card content-->
  

</div>
<!--/.Card-->