<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark #f8bbd0 pink lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand">
        <img src="./assets/images/lon.png" style="width: 100px;">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto" style="margin-left: 1300px;">
            <li class="nav-item ">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#" style="color: black; font-weight: normal;font-size: large">&nbsp;&nbsp; Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;font-weight:  normal;font-size: large">&nbsp; Signup</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;font-weight:  normal;font-size: large">&nbsp;Login</a>
            </li>&nbsp;&nbsp;

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="color: black;font-weight: normal;font-size: large">Services</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Hairstylists</a>
                    <a class="dropdown-item" href="#">Salons</a>

                </div>
            </li>&nbsp;&nbsp;

        </ul>
        <!-- Links -->


    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->