<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark #f8bbd0 pink lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand">
        <h4>BeforeBeauty
            <i class="fa fa-scissors"></i>
        </h4>
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto" style="margin-left: 1290px;">
            <li class="nav-item ">
                <a class="nav-link active" data-toggle="tab" [routerLink]="['/']" role="tab" href="#" style="color: black;font-weight: normal;">&nbsp;&nbsp; Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;font-weight: normal;">&nbsp; Signup</a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;font-weight: normal;">&nbsp;Login</a>
            </li>&nbsp;&nbsp;

            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/search']" style="color: black;font-weight: normal;">&nbsp;Hairstylists</a>
            </li>
        </ul>
        <!-- Links -->
</div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->