a{
   color: black;
}
.active {
    background:rgb(202, 158, 199); color:#000;
    width: 90px;
 }

 h4{
     font-family: serif;
     color: white;
     font-weight: bold;
 }
 .fa-scissors{
     color: black;
     font-weight: normal;
 }
.navbar-nav{
    font-weight: normal;
    
}