<div class="jumbotron" style="margin-top: 80px;">
 
  <!-- Search form -->
  <div>
      <h4>Find who you need</h4>
    <form class="form-inline" (submit)="Search()">
      <input class="form-control" [(ngModel)]="skill" name="skill" type="text" placeholder="Enter specialized area.." aria-label="Search"
        style="width: 500px;margin-left: 100px;border-radius: 15px;">
      <br>
      <br>
      <div class="state-container-dropdown">



      </div>
      <input type="submit" style="border-radius:10px; " class="btn btn-danger" value="search">
    </form>
  </div>
  <br>
  <br>
  <a style="margin-left: 100px;font-weight: bold;">+ More options</a>
  <br>
  <div>
    <form class="form-inline" (submit)="AdvancedSearch()" >

      <input  class="form-control"  [(ngModel)]="location" (click)="toggleDropDown()" list="alllocations" name="location" type="text" placeholder="Enter location.." aria-label="Search" style="width: 300px;margin-left: 100px;border-radius: 15px;">&nbsp;
      <br>
      <br>
      <datalist id="alllocations" *ngFor ="let location of locationlist">
        <span  *ngFor ="let location of locationlist">
        <option value={{location.City}}> </option>
          </span>
      </datalist>
      <input class="form-control" [(ngModel)]="price" type="text" (click)="toggleDropDown()" name="price" list="allprices"  placeholder="Enter price rate..(below)" aria-label="Search" style="width: 300px;margin-left: 100px;border-radius: 15px;">&nbsp;
      <datalist id="allprices">
          <span >
          <option>1000 </option>
          <option>2000 </option>
          <option>3000</option>
          <option>4000</option>
          <option >5000</option>
            </span>
        </datalist>
      <input class="form-control" type="text" placeholder="Enter rated area..(1-5)"  list="allrates"  [(ngModel)]="rate"  name="rate" aria-label="Search" style="width: 300px;margin-left: 100px;border-radius: 15px;">&nbsp;
      <datalist id="allrates" *ngFor ="let rate of ratelist">
          <span  *ngFor ="let rate of ratelist">
          <option value={{rate.Rating}}> </option>
            </span>
        </datalist>
        <input type="submit" style="border-radius:10px; " class="btn btn-danger" >
    </form>
  </div>






</div>
<div class="col-md-12 result">
  <div *ngIf="userlist">

    <div class="card card-cascade narrower col-md-4" style="width: 400px;border-radius: 10px; margin-left: 40px;display:inline-block; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
      *ngFor="let x of userlist">

      <!-- Card image -->
      <div class="view zoom">
        <img src="{{x.image_path}}" style="width: 250px;height:200px;  margin-left: 20px;"
          class="img-fluid" alt="">
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <!-- Label -->
        <a class="pink-text pb-2 pt-1" href="">
          <i class="fa fa-user"></i> {{x.First_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="black-text pb-4 pt-1">{{x.City}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="blue-text pb-2 pt-1"  style="margin-left: 100px;">
          {{x.Skill}}</a>

        <div *ngIf="x.Rating ==1">
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>



        <div *ngIf="x.Rating ==1.5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>


        <div *ngIf="x.Rating ==2">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>




        <div *ngIf="x.Rating ==2.5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>

        </div>

        <div *ngIf="x.Rating ==3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div>


        <div *ngIf="x.Rating ==3.5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
        </div>

        <div *ngIf="x.Rating ==4">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>

        <div *ngIf="x.Rating ==4.5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
        </div>

        <div *ngIf="x.Rating ==5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>




        <!-- Text -->

        <p class="card-text">{{x.Job_description}}</p>




        <!-- Button -->

        <a class="btn btn-success btn-sm" style="margin-left: 2px;">Hire Me</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="red-text " style="text-decoration: underline; margin-left: 100px;" (click)="onShowProfile(x.Hairstylist_profile_id)">Details</a>



      </div>
    </div>
  </div>
  
</div>


<br>
<br>
