.inputlocation i{
    position: absolute;
    
    }
    .inputlocation{
        position: relative;
        left: 0;
        top: 8px;
        padding: 9px,8px;
    }
    
    .state-container-dropdown{
        position: absolute;
        z-index: 1;
        width: 500px;
        margin-left: 100px;
        margin-top: 50px;
        
        max-height: 300px;
        background: white;
        overflow-y: auto;
    
    }
    .state{
        padding: 5px;
        font-family: sans-serif;
        color: purple;
    }
    .state:hover{
        color: aqua;
    }
    .fa-star{
        color: #ffb000;
    
    }
    .fa-star-half-o{
        color:  #ffb000;
    }
    .fa-star-o{
     color: #ffb000;
    }